img.bgimg{
  /* position: absolute;
  clip: rect(0px,100vw,25vh,0px); */
  width: 500px;

}

.card1{
  width: 25%;
  margin: 1em;
}

.card-container{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}